<!DOCTYPE html>
<html>
  <head>
    <title>LandBnB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.splash_main_pic = "<%= image_url('splash-main-pic.png') %>";
      window.airbnb_icon = "<%= image_url('airbnb-icon.png') %>";
      window.hamburger_icon = "<%= image_url('hamburger-icon.jpg') %>";
      window.newport = "<%= image_url('newport.png') %>";
      window.montauk = "<%= image_url('montauk.png') %>";
      window.scranton = "<%= image_url('scranton.png') %>";
      window.lakegeorge = "<%= image_url('lakegeorge.png') %>";
    </script>
     
      
  </head>

  <body>
    <%= yield %>
  </body>
</html>
